* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #c4c4c4;
  text-decoration: none;
}
nav {
  margin: 0 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#firstground {
  display: flex;
  gap: 0 2.62rem;
}
nav ul {
  display: flex;
  gap: 0 1rem;
  list-style: none;
}
.bens {
  padding: 0.8rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  color: #c4c4c4;
  background-color: transparent;
}

.colored {
  background-color: aqua;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
}
header ul div h1 {
  font-size: 3.25rem;
}
header ul div p {
  margin-top: 1rem;
}
header ul div button {
  margin-top: 1.5rem;
}
#user {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  gap: 0 1rem;
  padding: 2rem;
  margin: 4rem auto;
  width: 87%;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-color: rgb(113, 58, 165);

  border-radius: 1rem;
}
#user input {
  width: 35rem;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  border: 0;
}
#user button {
  border-radius: 0.5rem;
  border: 0;
}
#stat {
  margin-top: 5rem;
  text-align: center;
}

#stat h3 {
  font-size: 2rem;
}
#stat p {
  margin-top: 2rem;
}
.cart-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 3rem;
  gap: 0 2rem;
}
.cart {
  background-color: #f3ecec;
  border: 0;
  border-radius: 1rem;
  padding: 3rem;
  position: relative;
}
.cart img {
}
.cart div {
  position: absolute;
  top: -20px;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: #364f6b;
}
.cart-container h3 {
  margin-top: 2rem;
  font-size: 25px;
}
.cart-container p {
  margin-top: 2rem;
  color: black;
}
#boost {
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: rgb(60, 12, 105);
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
#boost h1 {
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
  color: white;
}
#boost button {
  width: 8rem;
  align-self: center;
  border-radius: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
}
footer {
  background-color: rgb(25, 7, 42);
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem;
}
footer h2 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
footer h4 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
footer ul {
  padding-top: 1.5rem;
}
footer ul li {
  list-style: none;
  line-height: 2rem;
}
footer ul li a {
  color: #c4c4c4;
}
#social img{
  margin-right: 1rem;
}